body{
  background-image: url(assets/bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.center-div{
  height: 100%;
  background-color:  white;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}
.spacer1{
  margin-bottom: 500px;
}
.birthAndDeath{
  width: 20vh;
}
.cromwellImage{
  margin: 0px 5px 5px 5px;
}
.initFlex{
  display: flex;
  flex-wrap: wrap;
}
.flex2{
  display: flex;
  flex-direction: column;
  margin: 0vh 5vh 0vh 5vh;
}
